@import "tailwindcss";

.App{
  font-family: "Roboto", sans-serif;
  background-color:black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-container{
  flex-grow: 1;
  
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.numberFonts{
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-dark-gradient {
  background: linear-gradient(to bottom right, #1e1e1e, transparent);
}